h1 {
    text-align: center;
    font-family: Courier, monospace;
    font-size: xx-large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
    font-family: Courier, monospace;
    font-size: 120%;
    line-height: 1.5;
}

.background {
    background-color: aliceblue;
}

.icons {
    width: 40px;
    height: 40px;
}

.me {
    width: 400px;
    height: 480px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* about.html */
.mk {
    font-size: 100%;
    background: linear-gradient(to left, #1900ff, #ff8000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.roof {
    max-width: 100%;
    max-height: 600px;
    padding-left: 0px;
    float: left;    
    margin: 0 25px 0 15px;
    border-radius: 5%;
}

#left {
    text-align: left;
}

/* gallery.html */
.gallery-long {
    max-width: 100%;
    max-height: 500px;
    float: center;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.gallery-wide {
    max-width: 100%;
    max-height: 500px;
    float: center;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

/* baseball.html */
.stadium {
    width: 70%;
}

/* NavBar */
.active {
    background-color: #202020;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    position: relative;
  }
  
.float{
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
